a{
    color:black;
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(240, 255, 79);
    padding: 6px;
    margin: 6px;
    text-decoration: none;


}
li{
    list-style-type: none;
    display: inline;
}

div{
    margin-top: 10px;
    padding: 5px;
}
// .navbar1{
//     background-color: rgb(250, 132, 92);
// }
