<div [ngStyle]="{'margin-top':'10px','text-align':'center'}">
    <img src="https://www.pinterest.com/pin/619737598700467346/" alt="">

    <form #contactForm="ngForm" (ngSubmit)="onRegister(contactForm)">
        <table>
             <tr>
                <td> <label for="username">Name</label> </td> 
                <td>  <input type="text" minlength="3" name="username" #username="ngModel" [(ngModel)]="user.username"></td> 
            </tr><br>
            <tr>
                <td>  <label for="email">Email</label> </td>
                <td>  <input type="text" name="email" [(ngModel)]="user.email" #email="ngModel" ></td> 
            </tr><br>
           <tr>
             <td>   <label for="city">City</label> </td>
             <td>   <input type="text" name="city" [(ngModel)]="user.city" #city="ngModel"><br> </td>
          </tr><br>
          <tr>
            <td>   <label for="address">Address</label> </td>
            <td>   <input type="text" name="address" [(ngModel)]="user.address" #address="ngModel"><br> </td>
         </tr><br>
           <tr>    
             <td><label for="gender">Gender</label></td>
            <td> <input type="radio" name="gender" value="male" [(ngModel)]="user.gender" #gender="ngModel">Male
            <input type="radio" name="gender" value="female" [(ngModel)]="user.gender" #gender="ngModel">Female</td>
        </tr>
        <br>
        <div class="submit">
        <input type="submit" value="Contact Us"ngModel>
    </div>
    </table>
    </form>
    </div>
    
