li{
    display: inline-block;
    padding:10px;
    margin:10px;
}

div{
    border-radius: 30px;
    border: solid;
    background-color: rgb(249, 249, 249);
    opacity: 0.9;
    border-color: black;
    
}
h4{
    
    border: 1px solid;
    border-color: black;
    background-color: rgb(175, 110, 64);
    padding: 3px;
}

button {
    text-align: center;
}